*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear{
	display: none;
}

button{
	cursor: pointer;
}

a, a-visited{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

ul, li {
	list-style: none;
}

img {
	vertical-align: top;
}


h1,h2,h3,h4,h5,h6 {
	font-family: inherit;
	font-weight: 400;
}


.header-container {

	padding-top: 30px;

	height: 100px;
	background-color: #131333;

}

.header-content {
	justify-content: relative;
	display: flex;
	padding-left: 80px;
}

.header-content  a {
	color: #fff;
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;

}

.header-content  a:hover {
	opacity: 0.6;
}

.header-content p {
	color: #fff;
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


ul li{
	padding-left: 100px;
	display: inline-block;
}

.lang-container {
	color: white;
	display: inline-block;
	margin-left: 80px;
}

.language_element {
	font-size: 20px;
	padding-left: 8px;
	font-style: normal;
}