* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

a, a-visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
}

/*-------------------------*/
.wrapper {
    background-color: azure;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content {
    width: 1180px;
    height: 680px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.user-info-block_row {
    margin-right: 100px;
}
.user-info-block_avatar-photo img{
    width: 200px;
    height: 200px;
    margin: 50px 0px 0px 100px;
}

.user-info-block_avatar-photo img:hover{
    opacity: 0.7;
}
.user-info-block_text {
    font-size: 26px;
    margin-top: 10px;
}
.user-info-block_text_item {
    margin-top: 30px;
}
.user-professional-block {
    width: 100%;
}
.user-professional-block_text ul {
    margin-top: 10px;
    font-size: 26px;
}
.user-professional-block_text li {
    display: block;
    margin-top: 50px;
}


.btn {

    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(83, 13, 3);
    margin-top: 20px;
    margin-left: 100px;
    color: white;
}

.btn p {
    color: wheat;
    padding-top: 15px;
    font-size: 20px;
}

.btn:hover {
    opacity: 0.7;
}

.my-course-btn {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(83, 13, 3);
}

.my-course-btn p {
    color:white;
    padding-top: 10px;
}

.my-course-btn:hover {
    opacity: 0.7;
}

.my-course {
    margin-left: 0px;
}

.not-active-msg {
    display: inline;
    font-size: 30px;
    font-style: italic;
    color: red;
}


input[type=file]{
    display: none;
}


label:hover{
    opacity: 0.6;
}

form{
    margin-left: 100px;
    margin-top: 50px;
}




