*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear{
    display: none;
}

button{
    cursor: pointer;
}

a, a-visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}


h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-weight: 400;
}

body {
    box-sizing: border-box;
}

.login-wrapper {
    display: flex;
    margin: 0 auto;
    width: 900px;
    height: 600px;
    border: 1px solid #ff0000;
    justify-content: center;
}

.form-wrapper{
    display: flex;
    border: 1px solid green;
}

.form-item{
    font-size: 24px;
    padding-top: 20px;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear{
    display: none;
}

button{
    cursor: pointer;
}

a, a-visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}


h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-weight: 400;
}

body {
    box-sizing: border-box;
    background-color: #effbfb;
}

.page-wrapper {
    display: flex;
    width: 600px;
    height: 800px;

    margin: 0 auto;
    justify-content: center;
}




.from-wrapper{
    display: flex;
    margin-top: 100px;
    width: 450px;
    height: 400px;;

    justify-content: center;
}

.txt-input {
    border: 1px solid #666;
    margin-top:5px;

    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 3%;

}



.input-name {
    margin: 0;
    padding-top: 30px;
    font-size: 20px;
    display: block;

}



.submit-btn {
    display: block;
    width: 300px;
    height: 50px;
    background-color: darkcyan;
    color:aliceblue;
    margin-top: 30px;
    font-size: 18px;
    text-transform: uppercase;

}

.submit-btn:hover {
    opacity: 0.7;
}

.submit-btn:active {
    background-color: aquamarine;
    color: black;

}

.txt-input:focus{
    box-shadow: 0 0 5px rgba(0,0,0,2);
}




.txt-input-error {
    color: red;
    padding-top: 10px;
    display: none;
    font-size: 20px;
}

.active {
    display: block;
}

.error-messages-js {
    display: block;
    font-size: 20px;
    color: red;
}

.error-message-java {
    font-style: italic;
    display: block;
    font-size: 20px;
    color: red;
}


